


.page-4 {
        &_container {
            @include container(1400, 150, 113, 150, 113, column, center, flex-start, 30, 0, 30, 0);
        }

        &__table {
            display: flex;
            margin: 0, -15px;
            margin-top: 100px;
            font-family: 'Open Sans', sans-serif;
            justify-content: baseline;
            @media (max-width: 1000px) {
                flex-direction: column;
                margin: 0px 0 0 0;
                .table_item{
                    margin: 30px 0 0 0;
                }
            }
            @include margin(40, 40, 40, 40, 20, 20, 20, 20, 1400);
    }
}


@mixin text ($max, $min, $max-width) {
    font-size: calc( ( #{$min} * 1px) + (#{$max} - #{$min}) * ((100vw - 320px) / (#{$max-width} - 320)));
}



.table {
    &_column {
        flex: 0 1 33.333%;
        padding: 0 15px;
    }

    &_item {
        text-align: center;
        background-color: #e4fdf9;
        padding: 58px 42.6px 36.2px 42.5px;
    }
    &_item:last-child{
        margin: 30px 0 0 0;
    }
}
.item {

    &_icon {
        max-width: 100%;
        object-fit: cover;
    }

    &_title {
        @include text(20, 17, 1400);
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 1px;
        margin: 30px 0 0 0;
    }

    &_text {
        @include text(15, 12, 1400);
        line-height: 1.67;
        letter-spacing: 0.75px;
        font-weight: 400;
        margin: 14.4px 0 0 0;
    }

    &_btn {
        display: inline-block;
        padding: 13.3px 12.5px 14.7px 13.5px;
        border: solid 2px black;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 1px;
        margin: 40px 0 0 0;
        text-transform: uppercase;
        @include text(20, 14, 1400);
    }
}

.f1{
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.35);
    background-color: #00897b;
}

.f2{
    color: white;
    border-color: white;
}

.table_item:hover{
    cursor: pointer;
    transition: 1s ease-out;
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.35);
    background-color: #00897b;
    .item_title, .item_text, .item_btn{
        transition: .2s ease-out;
        color: white;
        border-color: white;
    }
}














